@using ParkingSystem.Models
@model ParkingSystem.UserProfile


@{
    ViewBag.Title = "AdminUserDashBoard";
}

@{ 
    var gateList = (List<SelectListItem>)ViewData["GateList"];
}
@using (Html.BeginForm("Logout", "Home", FormMethod.Post))
{
    <td>
        <input type="submit" value="Logout" />
    </td>
}

<div>
    <h1>Create Entry / Exit Gate</h1>
</div>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Parking System Login page</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.UserName)</td>
                <td>@Html.TextBoxFor(a => a.UserName)</td>
                <td>@Html.ValidationMessageFor(a => a.UserName)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
            </tr>
            <tr>
            <tr>
                <td>@Html.Label("Parking GateType")</td>
                <td>
                    @Html.DropDownListFor(a => a.UserType,
                    gateList, "Select GateType")
                </td>
            </tr>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Register" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}


